<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="CourseDetail.css">
</head>
<body style="background-color:gainsboro">
<!--mini-导航条-->
<div id="nav_mini">
    <div class="nav_content bx">
        <div class="left">
            <div class="logo">
                <a href="#">
                    <img src="../../assets/images/logo-mini.png" alt="">
                </a>
            </div>
            <ul class="nav_items">
                <li><a href="">讲师</a></li>
                <li><a href="">课程</a></li>
                <li><a href="">新闻</a></li>
            </ul>
        </div>
        <div class="center">
            <div class="search">
                <div class="search_bar">
                    <div class="key">全部
                        <span class="iconfont icon-xiajiantou"></span>
                        <ul class="menu_items">
                            <li>全部</li>
                            <li>课程</li>
                            <li>讲师</li>
                            <li>文章</li>
                        </ul>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="请输入关键字">
                    </div>
                    <div class="btn">
                        <span class="iconfont icon-fangdajing">搜索</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="right">
            <div class="intro">
                <div class="detail">
                    <span>注册/登录</span>
                    <img src="../../assets/images/header.png" alt="">
                </div>
                <div class="operation_pane">
                    <div class="arrow"></div>
                    <ul class="operation">
                        <li>个人中心</li>
                        <li>我的学习</li>
                        <li>设置</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--课程详情-->
<div class="CourseDetail">


<div class="CourseDetail_Content">

    <div class="CourseDetail_Content_left">

    </div>
    <div class="CourseDetail_Content_content">
        <ul>
            <li class="content_title">Python大数据+人工智能</li>
            <li class="content_ping">评分: 5.0 分 评价人数: 900 人</li>
            <li class="content_by">讲师: 天天向上</li>
            <li class="content_but">登陆学习</li>

        </ul>
    </div>

</div>
<div class="CourseDetail_Navigation">
        <div class="Navigation_content">课程介绍</div>
        <div class="Navigation_title">课程大纲</div>
        <div class="Navigation_end"></div>
</div>

    <div class="CourseDetail_items">

        <div class="items_left">

            <ul>
                <li class="items_left_jc">适用人群</li>
                <li class="items_left_pt">1.ddddddddddddddddddddddd</li>
                <li class="items_left_pt">2.ddddddddddddddddddddddd</li>
            </ul>
            <ul>
                <li class="items_left_jc">课程概述</li>
                <li class="items_left_pt">1.ddddddddddddddddddddddd</li>
                <li class="items_left_pt">2.ddddddddddddddddddddddd</li>
            </ul>
        </div>

        <div class="items_right">
            <ul>
                <li class="items_right_images"></li>
                <li class="items_right_title">天天向上</li>

            </ul>
        </div>

    </div>
</div>
</body>
</html>