<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./2.css">
</head>
<body>
<!--5. 学院新闻-->
<div id="school_news" class="bx">
    <p class="title-nav">- 学 . 院 . 新 . 闻 -</p>
    <div class="content_nav">
        <span class="more"><a href="article_list.html">更多&gt;</a></span>
        <div class="left">
            <ul>
                <li><a href="article_detail.html">51CTO受邀成为红色红色文化与现代科技融合研究中心支持单位</a><span>2019-09-24</span></li>
                <li><a href="article_detail.html">2019年北京无忧创想信息技术有限公司教育部产学合作协同育人项目首批申报指南</a><span>2019-09-22</span></li>
                <li><a href="article_detail.html">工信部废止四文件，软考证书从此更值钱！--软考专家薛大龙独家解析废止新政</a><span>2019-09-20</span></li>
                <li><a href="article_detail.html">助力新工科建设发展 51CTO入选湖南省普通高校新工科建设协作组成员单位</a><span>2019-09-18</span></li>
                <li><a href="article_detail.html">戮力同心，育人先行|第二届全国数据科学与大数据技术本科专业建设研讨会成功召开</a><span>2019-09-14</span></li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li><a href="article_detail.html">51CTO受邀成为红色红色文化与红色文化与红色文化与现代科技融合研究中心支持单位</a><span>2019-09-24</span></li>
                <li><a href="article_detail.html">京无忧创想育部产学合作协同育人项目首批申报指南</a><span>2019-09-23</span></li>
                <li><a href="article_detail.html">工信部废止四文件</a><span>2019-09-21</span></li>
                <li><a href="article_detail.html">助力湖南省普通高校新工科建设协作组成员单本科专业建设研本科专业建设研本科专业建设研位</a><span>2019-09-19</span></li>
                <li><a href="article_detail.html">戮与大数据技术本科专业建设研本科专业建设研开</a><span>2019-09-15</span></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>