<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">

    <title>teacher_star</title>
    <link rel="stylesheet" href="css/teacher_star.css">

</head>
<body>
<!--4. 明星讲师-->
<div id="star_teacher" class="bx">
    <p class="title-nav">- 明 . 星 . 讲 . 师 -</p>
    <div class="content_nav">
        <a href="css/teacher_list.html">更多></a>
        <ul>
            <li class="t_card">
                <div class="left">
                    <a href="teacher_detail.html">
                        <img class="t_header" src="assets/images/teacher.png" alt="t1">
                        <div class="t_name">斯普林特老师</div>
                    </a>
                </div>
                <div class="right">
                    <div class="t_tag">忍者神龟CTO</div>
                    <div class="t_dec">
                        他带着四个乌龟孩子居住在废弃的下水道中,并且传授他们忍术。
                    </div>
                </div>
            </li>
            <li class="t_card">

                <div class="left">
                    <a href="teacher_detail.html">
                        <img class="t_header" src="assets/images/teacher.png" alt="t1">
                        <div class="t_name">斯普林特老师</div>
                    </a>
                </div>
                <div class="right">
                    <div class="t_tag">忍者神龟CTO</div>
                    <div class="t_dec">
                        他带着四个乌龟孩子居住在废弃的下水道中,并且传授他们忍术。
                    </div>
                </div>
            </li>
            <li class="t_card">

                <div class="left">
                    <a href="teacher_detail.html">
                        <img class="t_header" src="assets/images/teacher.png" alt="t1">
                        <div class="t_name">斯普林特老师</div>
                    </a>
                </div>
                <div class="right">
                    <div class="t_tag">忍者神龟CTO</div>
                    <div class="t_dec">
                        他带着四个乌龟孩子居住在废弃的下水道中,并且传授他们忍术。
                    </div>
                </div>
            </li>
            </ul>
           <ul>
            <li class="t_card">

                <div class="left">
                    <a href="teacher_detail.html">
                        <img class="t_header" src="assets/images/teacher.png" alt="t1">
                        <div class="t_name">斯普林特老师</div>
                    </a>
                </div>
                <div class="right">
                    <div class="t_tag">忍者神龟CTO</div>
                    <div class="t_dec">
                        他带着四个乌龟孩子居住在废弃的下水道中,并且传授他们忍术。
                    </div>
                </div>
            </li>
            <li class="t_card">
                <div class="left">
                    <a href="teacher_detail.html">
                        <img class="t_header" src="assets/images/teacher.png" alt="t1">
                        <div class="t_name">斯普林特老师</div>
                    </a>
                </div>
                <div class="right">
                    <div class="t_tag">忍者神龟CTO</div>
                    <div class="t_dec">
                        他带着四个乌龟孩子居住在废弃的下水道中,并且传授他们忍术。
                    </div>
                </div>
            </li>
            <li class="t_card">

                <div class="left">
                    <a href="teacher_detail.html">
                        <img class="t_header" src="assets/images/teacher.png" alt="t1">
                        <div class="t_name">斯普林特老师</div>
                    </a>
                </div>
                <div class="right">
                    <div class="t_tag">忍者神龟CTO</div>
                    <div class="t_dec">
                        他带着四个乌龟孩子居住在废弃的下水道中,并且传授他们忍术。
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>