<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="ad_focus">

     <div class="images">
         <ul>
             <li class="active">
                 <a href="#">
                     <img src="./assets/images/banner1.png" alt="">
                 </a>
             </li>

             <li >
                 <a href="#">
                     <img src="./assets/images/banner3.png" alt="">
                 </a>
             </li>

             <li >
                 <a href="#">
                     <img src="./assets/images/banner2.jpg" alt="">
                 </a>
             </li>
         </ul>
     </div>

     <div class="title_list">
         <ul>
             <li class="active"><a href="#">史无前例：2020最全微信小程序</a></li>
             <li><a href="#">惊呆了!RN零基础到实战?</a></li>
             <li><a href="#">跨平台:前端的追求</a></li>
         </ul>

     </div>
    </div>
</body>
</html>