<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师列表</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="nav_mini">
    <div class="nav_content bx">
        <div class="left">
            <div class="logo">
                <a href="#">
                    <img src="../../assets/images/logo-mini.png" alt="">
                </a>
            </div>
            <ul class="nav_items">
                <li><a href="../teacher_star/index.html">讲师</a></li>
                <li><a href="../coursecard/index.html">课程</a></li>
                <li><a href="../news_detail/article_list.html">新闻</a></li>
            </ul>
        </div>
        <div class="center">
            <div class="search">
                <div class="search_bar">
                    <div class="key">全部
                        <span class="iconfont icon-xiajiantou"></span>
                        <ul class="menu_items">
                            <li>全部</li>
                            <li>课程</li>
                            <li>讲师</li>
                            <li>文章</li>
                        </ul>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="请输入关键字">
                    </div>
                    <div class="btn">
                        <span class="iconfont icon-fangdajing">搜索</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="right">
            <div class="intro">
                <div class="detail">
                    <span>注册/登录</span>
                    <img src="../../assets/images/header.png" alt="">
                </div>
                <div class="operation_pane">
                    <div class="arrow"></div>
                    <ul class="operation">
                        <li>个人中心</li>
                        <li>我的学习</li>
                        <li>设置</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
