<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小撩学堂(itlike.com)-Python,Java,H5</title>
    <link rel="stylesheet" href="新闻栏.css">
</head>
<body>
<!--mini-导航条-->
<div id="nav_mini">
    <div class="nav_content bx">
        <div class="left">
            <div class="logo">
                <a href="#">
                    <img src="../../assets/images/logo-mini.png" alt="">
                </a>
            </div>
            <ul class="nav_items">
                <li><a href="">讲师</a></li>
                <li><a href="">课程</a></li>
                <li><a href="">新闻</a></li>
            </ul>
        </div>
        <div class="center">
            <div class="search">
                <div class="search_bar">
                    <div class="key">全部
                        <span class="iconfont icon-xiajiantou"></span>
                        <ul class="menu_items">
                            <li>全部</li>
                            <li>课程</li>
                            <li>讲师</li>
                            <li>文章</li>
                        </ul>
                    </div>
                    <div class="input">
                        <input type="text" placeholder="请输入关键字">
                    </div>
                    <div class="btn">
                        <span class="iconfont icon-fangdajing">搜索</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="right">
            <div class="intro">
                <div class="detail">
                    <span>注册/登录</span>
                    <img src="../../assets/images/header.png" alt="">
                </div>
                <div class="operation_pane">
                    <div class="arrow"></div>
                    <ul class="operation">
                        <li>个人中心</li>
                        <li>我的学习</li>
                        <li>设置</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--首页文章列表-->
<div class="article_list bx">
    <div class="header_title">学院要闻</div>
    <ul class="list">
        <li class="article_item">
            <div class="top">
                <div class="title">
                    <a href="article_detail.html">能够理解后端架构，与后端工程师配合</a>
                </div>
                <div class="time">2020年07月18日 18:40:40</div>
                </div>
            <div class="detail">能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案</div>
        </li>
        <li class="article_item">
            <div class="top">
                <div class="title">
                    <a href="#/article_detail/10">后端工程师配合</a>
                </div>
                <div class="time">2020年07月18日 18:39:58</div>
            </div>
            <div class="detail">能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案</div>
        </li>
        <li class="article_item">
            <div class="top">
                <div class="title">
                    <a href="#/article_detail/13">提供最优化的技术解决方案能够理解后端架</a>
                </div>
                <div class="time">2020年07月18日 18:39:47</div>
            </div>
            <div class="detail">能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案</div>
        </li>
        <li class="article_item">
            <div class="top">
                <div class="title">
                    <a href="#/article_detail/12">能够理解后端架构，与后端工程师配合</a>
                </div><div class="time">2020年07月18日 18:39:37</div>
            </div>
            <div class="detail">能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案能够理解后端架构，与后端工程师配合，为项目提供最优化的技术解决方案</div>
        </li>
        <li class="article_item">
            <div class="top">
                <div class="title">
                    <a href="#/article_detail/9">中级前端工程师</a>
                </div>
                <div class="time">2020年07月18日 18:37:09</div>
            </div>
            <div class="detail">1、负责业务系统前端模块的设计与开发；    2、负责产品的需求分析，开发、测试、维护等各项工作； 3、承担PC端和移动端的前端HTML5的开发任务；</div>
        </li>
        <li class="article_item">
            <div class="top">
                <div class="title">
                    <a href="#/article_detail/8">web全栈招聘技术栈</a>
                </div><div class="time">2020年07月18日 18:36:09</div>
            </div>
            <div class="detail">1、负责业务系统前端模块的设计与开发；2、负责产品的需求分析，开发、测试、维护等各项工作；3、承担PC端和移动端的前端HTML5的开发任务； 4、整体页面结构及CSS样式层结构的设计、优化；</div>
        </li>
    </ul>
</div>

<!--底部-->
<div id="footer">
    <div class="content bx">
        <div class="left">
            <p>撩课云课堂 是掘智公司（itlike.com）旗下专注职业技能提升的在线学习平台。</p>
            <ul>
                <a href="#"><li>关于我们</li></a>
                <a href="#"><li>联系我们</li></a>
                <a href="#"><li>帮助中心</li></a>
                <a href="#"><li>授课论坛</li></a>
            </ul>
            <p>©2018-2020 课程内容版权均归撩课教育所有 沪ICP备18036896号</p>
        </div>
        <div class="right">
            <div class="right_dd">
                <div></div>
                <span class="right_dd_a1">
                  </span>
                <span class="right_dd_a2">
                      <div class="ewm">
                          <img width="110" height="110" alt="撩课" src="./assets/images/ewm_lk.jpg">
                      </div>
                  </span>
                <p class="right_dd_p1">
                    "客服热线"
                    <span>9:00 - 19:00</span>
                </p>
                <p class="right_dd_p2">0865-9876544</p>
            </div>
        </div>



    </div>

</div>


</body>
</html>