<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程卡片</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <div class="section bx">
        <div class="top">
         <span>- 热 . 门 . 好 . 课 -</span>
            <a href="#">更多></a>
        </div>
        <div class="content">
            <div class="course_card">
            <div class="card_top">
                <a href="#">
                    <img src="../../assets/image/1595067974386.jpg">
                </a>
                <div class="tag">
                    热门
                </div>
            </div>
            <div class="card_content">
                <div class="title">
                    <a href="">撩课-全栈-小程序+云开发实践</a>
                </div>
                <div class="score">
                    <div class="star">
                        <div class="y_star" style="width: 50%;"></div>
                    </div>
                    <div class="star_v">
                        2.5分
                    </div>
                </div>
                <div class="good iconfont icon-zan">
                    800人好评
                </div>
            </div>
        </div>
            <div class="course_card">
                <div class="card_top">
                    <a href="#">
                        <img src="../../assets/image/1595067432100.jpg">
                    </a>
                    <div class="tag">
                        热门
                    </div>
                </div>
                <div class="card_content">
                    <div class="title">
                        <a href="">H5全栈开发</a>
                    </div>
                    <div class="score">
                        <div class="star">
                            <div class="y_star" style="width: 30%;"></div>
                        </div>
                        <div class="star_v">
                            1.5分
                        </div>
                    </div>
                    <div class="good iconfont icon-zan">
                        200人好评
                    </div>
                </div>
            </div>
            <div class="course_card">
                <div class="card_top">
                    <a href="#">
                        <img src="../../assets/image/1595067749662.jpg">
                    </a>
                    <div class="tag">
                        热门
                    </div>
                </div>
                <div class="card_content">
                    <div class="title">
                        <a href="">BAT入职学习路线规划</a>
                    </div>
                    <div class="score">
                        <div class="star">
                            <div class="y_star" style="width: 90%;"></div>
                        </div>
                        <div class="star_v">
                            4.5分
                        </div>
                    </div>
                    <div class="good iconfont icon-zan">
                        1000人好评
                    </div>
                </div>
            </div>
            <div class="course_card">
                <div class="card_top">
                    <a href="#">
                        <img src="../../assets/image/1595067918790.jpg">
                    </a>
                    <div class="tag">
                        热门
                    </div>
                </div>
                <div class="card_content">
                    <div class="title">
                        <a href="">前端学习精讲班</a>
                    </div>
                    <div class="score">
                        <div class="star">
                            <div class="y_star" style="width: 40%;"></div>
                        </div>
                        <div class="star_v">
                            2分
                        </div>
                    </div>
                    <div class="good iconfont icon-zan">
                        350人好评
                    </div>
                </div>
            </div>
            <div class="course_card">
                <div class="card_top">
                    <a href="#">
                        <img src="../../assets/image/1595067505591.jpg">
                    </a>
                    <div class="tag">
                        热门
                    </div>
                </div>
                <div class="card_content">
                    <div class="title">
                        <a href="">Python大数据+人工智能</a>
                    </div>
                    <div class="score">
                        <div class="star">
                            <div class="y_star" style="width: 100%;"></div>
                        </div>
                        <div class="star_v">
                            5分
                        </div>
                    </div>
                    <div class="good iconfont icon-zan">
                        1200人好评
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>