<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页导航栏</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>


<div id="nav_bar">
    <div class="nav_content bx">
        <div class="top">
            <div class="logo">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <div class="search">

                <div class="search_bar">
                    <div class="key">全部<span class="iconfont icon-xiajiantou"></span>
                        <ul class="menu_items">
                            <li>全部</li>
                            <li>课程</li>
                            <li>讲师</li>
                            <li>文章</li>
                        </ul>
                    </div>
                    <div class="input">

                        <input type="text" placeholder="请输入关键字">
                    </div>
                    <div class="btn">


                        <span class="iconfont icon-fangdajing"> 搜索</span>


                    </div>
                </div>

            </div>
            <div class="personal">
                <div class="intro_pane">
                    <div class="intro">
                        <span> 00001</span>
                        <img src="../../favicon.ico" alt="">
                    </div>
                    <div class="operation_pane">
                        <div class="arrow"></div>
                        <ul class="operation">
                            <li>个人中心</li>
                            <li>我的学习</li>
                            <li>设置</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <ul class="menu">
                    <li><a href="">首页</a></li>
                    <li><a href="">讲师</a></li>
                    <li><a href="">课程</a></li>
                    <li><a href="">新闻</a></li>
                </ul>
            </div>
            <div class="right">
                <ul class="hd">
                    <li class="fl iconfont icon-gift">关注领取福利
                        <div class="ewm">
                            <div class="title">关注撩课公众号</div>
                            <div class="subtitle">- 领取课程免费福利,超值学习资料 -</div>
                            <div class="qr_code"><img src="../../assets/images/ewm_lk.jpg" alt=""></div>
                        </div>
                    </li>
                    <li class="fl iconfont icon-xiaochengxu">微信小程序
                        <div class="ewm">
                            <div class="title">关注撩课公众号</div>
                            <div class="subtitle">- 领取课程免费福利,超值学习资料 -</div>
                            <div class="qr_code"><img src="../../assets/images/ewm_lk.jpg" alt=""></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>
