<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
    <link rel="stylesheet" href="./index.css">

</head>
<body>
   <div id="footer">
      <div class="content bx">
          <div class="left">
              <p>撩课云课堂 是掘智公司（itlike.com）旗下专注职业技能提升的在线学习平台。</p>
              <ul>
                  <a href="#"><li>关于我们</li></a>
                  <a href="#"><li>联系我们</li></a>
                  <a href="#"><li>帮助中心</li></a>
                  <a href="#"><li>授课论坛</li></a>
              </ul>
              <p>©2018-2020 课程内容版权均归撩课教育所有 沪ICP备18036896号</p>
          </div>
          <div class="right">
              <div class="right_dd">
                  <div></div>
                  <span class="right_dd_a1">
                  </span>
                  <span class="right_dd_a2">
                      <div class="ewm">
                          <img width="110" height="110" alt="撩课" src="../../assets/images/ewm_lk.jpg">
                      </div>
                  </span>
                  <p class="right_dd_p1">
                      "客服热线"
                      <span>9:00 - 19:00</span>
                  </p>
                  <p class="right_dd_p2">0865-9876544</p>
              </div>
          </div>



      </div>

   </div>

</body>
</html>